<div
  class="container"
  > <!--
  <div
  class="container-sm"
  > 100%
  wide
  until
  small
  breakpoint</div
  > <div
  class="container-md"
  > 100%
  wide
  until
  medium
  breakpoint</div
  > <div
  class="container-lg"
  > 100%
  wide
  until
  large
  breakpoint</div
  > <div
  class="container-xl"
  > 100%
  wide
  until
  extra
  large
  breakpoint</div
  > <div
  class="container-xxl"
  > 100%
  wide
  until
  extra
  extra
  large
  breakpoint</div
  > --
  > </div
  > body {
  display: flex;
  align-items: center;
  font-family: cursive;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 440px;
}
